.btn-login{
    width: 150px;
    height: 150px;
}

.btn-opc{
    width: 100px;
    height: 100px; 
}

.txt-cabecera{
    text-align: center;
    font-size: 25px;   
    margin: 10px;
}

.txt-info{
    text-align: center;
    font-size: 18px;   
    margin: 10px;
}

.div-btn-opc{
    height: 120px;
}

.panel-login{
    display: none;
}

.rutaSeguimiento{
    background-color: blue;
}

.msjError{
    color : red;
}

