.btn-login{
    width: 150px;
    height: 150px;
}

.btn-opc{
    width: 100px;
    height: 100px; 
}

.txt-cabecera{
    text-align: center;
    font-size: 25px;   
    margin: 10px;
}

.txt-info{
    text-align: center;
    font-size: 18px;   
    margin: 10px;
}

.txt-form-error{
    font-size:8px;
}

.toast-ok{
    background-color: green;
}

.toast-info{
    background-color: blue;
}

.toast-error{
    background-color: red; 
}

.div-btn-opc{
    height: 120px;
}

.panel-login{
    display: none;
}

.rutaSeguimiento{
    background-color: blue;
}

.msjError{
    color : red;
}

.btn-adminmesa{
        width: 175px;
}

.err-vincular{
    color: red;
}

.pass-vincular{
    color: green;
}
