.btn-login{
    width: 150px;
    height: 150px;
}

.btn-rol{
    
    width: 100px;
    height:100px; 
}

.div-btn-rol{
    height: 120px;
}

.panel-login{
    display: none;
}

.rutaSeguimiento{
    background-color: blue;
}

.msjError{
    color : red;
}

